:root {
  --brand-primary: #117cff;
  --brand-secondary: #0a1a2f;
  --brand-accent: #ffc838;
}

.brand-primary {
  color: var(--brand-primary);
}

.brand-accent {
  color: var(--brand-accent);
}

.bg-brand {
  background-color: var(--brand-accent);
}

.border-brand {
  border-color: var(--brand-accent);
}
